<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Reborn Dispatch</title>
     <script src="https://code.jquery.com/jquery-2.2.4.min.js"
          integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="style.css">
</head>

<body>
     <div class="alertas-push">
          <div class="rb-container2">
               <ul class="rb addalertaspush" id="adicionaalertas">
                    <!-- <li class="rb-item ativando" ng-repeat="itembx">
                         <div class="timestamp">
                              Alerta de Disparos
                         </div>
                         <i class="material-icons gps-icone">location_on</i>
                         <div class="item-title">Disparos próximo a Occupation AvenueDisparos próximo a Occupation AvenueDisparos próximo a Occupation AvenueDisparos próximo a Occupation AvenueDisparos próximo a Occupation AvenueDisparos próximo a Occupation AvenueDisparos próximo a Occupation Avenue</div>
                    </li> -->
               </ul>
          </div>
     </div>
     <div class="alertas-container">
          <div class="header-buttons">
               <div class="icon-search">
                    <i class="material-icons">search</i>
               </div>
               <input class="search-dispatch tooltipped" data-position="top" data-tooltip="Pesquisar Ocorrencia" type="text" placeholder="Pesquisar ocorrencia">
               <button class="waves-effect waves-dark white apagar-dispatchs tooltipped" data-position="top" data-tooltip="Apagar Histórico">Clear</button>

          </div>

          <div class="rb-container">
               <ul class="rb addalertas">
                    <!-- <li class="rb-item ativando" ng-repeat="itembx">
                         <div class="timestamp">
                              Alerta de Disparos
                         </div>
                         <i class="material-icons gps-icone">location_on</i>
                         <div class="item-title">Disparos próximo a Occupation AvenueDisparos próximo a Occupation AvenueDisparos próximo a Occupation AvenueDisparos próximo a Occupation AvenueDisparos próximo a Occupation AvenueDisparos próximo a Occupation AvenueDisparos próximo a Occupation Avenue</div>

                    </li>
                    <li class="rb-item ativando" ng-repeat="itembx">
                         <div class="timestamp">
                              Alerta de Disparos
                         </div>
                         <i class="material-icons gps-icone">location_on</i>
                         <div class="item-title">Disparos próximo a Occupation AvenueDisparos próximo a Occupation AvenueDisparos próximo a Occupation AvenueDisparos próximo a Occupation AvenueDisparos próximo a Occupation AvenueDisparos próximo a Occupation AvenueDisparos próximo a Occupation Avenue</div>

                    </li>
                    <li class="rb-item ativando" ng-repeat="itembx">
                         <div class="timestamp">
                              Alerta de Disparos
                         </div>
                         <i class="material-icons gps-icone">location_on</i>
                         <div class="item-title">Disparos próximo a Occupation AvenueDisparos próximo a Occupation AvenueDisparos próximo a Occupation AvenueDisparos próximo a Occupation AvenueDisparos próximo a Occupation AvenueDisparos próximo a Occupation AvenueDisparos próximo a Occupation Avenue</div>

                    </li>
                    <li class="rb-item ativando" ng-repeat="itembx">
                         <div class="timestamp">
                              Alerta de Disparos
                         </div>
                         <i class="material-icons gps-icone">location_on</i>
                         <div class="item-title">Disparos próximo a Occupation AvenueDisparos próximo a Occupation AvenueDisparos próximo a Occupation AvenueDisparos próximo a Occupation AvenueDisparos próximo a Occupation AvenueDisparos próximo a Occupation AvenueDisparos próximo a Occupation Avenue</div>

                    </li>
                    <li class="rb-item ativando" ng-repeat="itembx">
                         <div class="timestamp">
                              Alerta de Disparos
                         </div>
                         <i class="material-icons gps-icone">location_on</i>
                         <div class="item-title">Disparos próximo a Occupation AvenueDisparos próximo a Occupation AvenueDisparos próximo a Occupation AvenueDisparos próximo a Occupation AvenueDisparos próximo a Occupation AvenueDisparos próximo a Occupation AvenueDisparos próximo a Occupation Avenue</div>

                    </li>
                    <li class="rb-item ativando" ng-repeat="itembx">
                         <div class="timestamp">
                              Alerta de Disparos
                         </div>
                         <i class="material-icons gps-icone">location_on</i>
                         <div class="item-title">Disparos próximo a Occupation AvenueDisparos próximo a Occupation AvenueDisparos próximo a Occupation AvenueDisparos próximo a Occupation AvenueDisparos próximo a Occupation AvenueDisparos próximo a Occupation AvenueDisparos próximo a Occupation Avenue</div>

                    </li> -->
                  
               </ul>
          </div>
          <div class="estatisticas-dispatch">
               <div class="field-statics">Ocorrencias: <quantidade class="qtd-ocorrencias">0</quantidade></div>
               <div class="field-statics">Atendidas: <quantidade class="qtd-atendidas">0</quantidade></div>
          </div>

     </div>
</body>
<script type="text/javascript" src="script.js"></script>

</html>